
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/kisspng-logo-portable-network-graphic.jpg" alt=" Arif Rizal " class="img-thumbnail 
            rounded-circle" width="200">
            <h1 class="display-4">Arif Rizal</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
</div>